h3{
	text-align: center;
}

h1{
	text-align: center;
}

a{
	margin-right:10px;
}

/* Styling for User Login */
.user-login-container{
	margin: auto;
	height: 165px;
	width: 300px;
	margin-left: 40%;
	margin-top: 18%;
	background-color: lightgrey;
	border-color: black;
	border-width: 1px;
	border-style: solid;
	opacity: 0.8;
}

#error-message{
	color: red;
	display: none;
}

/* Styling for Question 1 */
.question1-container{
	background-color: lightgrey;
	margin-top: 12%;
	margin-left: 20%;
	margin-right: 16%;
	width: 60%;
	height: 350px;
	border-style: solid;
	border-color: black;
	border-width: 2px;

}

.question1-content{
	float: left;
	height: 238px;
	width: 45%;
	margin-top: 60px;
	margin-left: 35px;
}

.question1-image-container{
	float: right;
	width: 33%;
	margin-top: 20px;
	margin-right: 10px;
}

/* Styling for Question 2 */
.question2-container{
	background-color: lightgrey;
	margin-top: 12%;
	margin-left: 20%;
	margin-right: 16%;
	width: 60%;
	height: 350px;
	border-style: solid;
	border-color: black;
	border-width: 2px;

}

.question2-content{
	height: 238px;
	width: 70%;
	margin-top: 60px;
	margin-left: 60px;
}

/* Styling for Question 3 */
.question3-container{
	background-color: lightgrey;
	margin-top: 12%;
	margin-left: 20%;
	margin-right: 16%;
	width: 60%;
	height: 350px;
	border-style: solid;
	border-color: black;
	border-width: 2px;

}

.question3-content{
	float: left;
	height: 238px;
	width: 45%;
	margin-top: 60px;
	margin-left: 35px;
}

.question3-text-container{
	float: right;
	width: 33%;
	margin-top: 20px;
	margin-right: 10px;
}

/* Styling for Question 4 */
.question4-container{
	background-color: lightgrey;
	margin-top: 12%;
	margin-left: 20%;
	margin-right: 16%;
	width: 60%;
	height: 350px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.question4-content{
	float: left;
	height: 238px;
	width: 45%;
	margin-top: 60px;
	margin-left: 35px;
}

.question4-video-container{
	float: right;
	width: 33%;
	margin-top: 20px;
	margin-right: 10px;
}

/* Styling for the Survey */
.survey-container{
	background-color: lightgrey;
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 16%;
	width: 60%;
	height: 380px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

#survey-header {
	margin-left: 30px;
	margin-bottom: 30px;
}

.comments-container{
	margin-left: 30px;
	margin-bottom: 10px;
}

textarea{
	margin-left: 30px;
	width:90%;
	height:100px;
}

.location-container{
	margin-left: 30px;
	margin-top: 20px;
	float: left;
	height: 85px;
}

.location-container p{
	margin-top: 0px;	
}

#location-text{
	float: left;
}

.location-dropdown{
	margin-left: 30px;
	margin-right: 40px;
	float: left;
}

.survey-buttons-container{
	float: left;
	margin-left: 25%;
	margin-right: 20%;
}

/* Styling for the Summary */
.summary-container{
	background-color: lightgrey;
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 16%;
	width: 60%;
	height: 575px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
}

.summary-content{
	float: left;
	height: 238px;
	width: 45%;
	margin-top: 60px;
	margin-left: 35px;
}

.summary-results {
	font-weight: bold;
}

.summary-buttons-container{
	float: left;
	margin-left: 80%;
}

.finish-button{
	margin-left: 45px;
	background-color: darkblue;
	color: white;
	height: 35px;
	width: 100px;
	font-weight: bold;
}

.buttons-container{
	float: left;
	margin-left: 20%;
	margin-right: 20%;
}

.next-button{
	margin-left: 50px;
	background-color: darkgreen;
	color: white;
	height: 35px;
	font-weight: bold;
}

.clear-button{
	margin-left: 50px;
	background-color: darkred;
	color: white;
	height: 35px;
	font-weight: bold;
}
